src/main/resources/schema/relocation-mapping-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Berlioz Schema for relocation mapping

   @version 1.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="relocation-mapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="relocation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Mapping -->
  <xs:element name="relocation">
    <xs:complexType>
      <xs:attribute name="from" use="required"/>
      <xs:attribute name="to" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
